main .title {
    color: rgb(15, 15, 15);
}
main .title h1, main .title p {
    margin: 12px 0;
}
main .title h1 {
    font-weight: 600;
}
.search {
    position: relative;
}
.search #result {
    list-style: none;
    background: #e7e7e7cc;
    backdrop-filter: blur(2px);
    box-shadow: 2px 2px 6px #0f0f0f;
    position: absolute;
    width: 100%;
    margin-top: 6px;
    border-radius: 6px;
    z-index: 10;
}
.search #result a {
    text-decoration: none;
    color: #0f0f0f;
    font-weight: 500;
}
.search #result a p {
    padding: 8px;
    border-radius: 6px;
}
.search #result a:hover p {
    background-color: #f7f7f7;
}
.images {
    margin-top: 20px;
}
.display-format {
    margin: 20px 0;
}
.list-format {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    list-style: none;
}
.list-format li {
    flex-basis: 33%;
    color: #0f0f0f;
    font-weight: 500;
    font-size: 1.2rem;
}
.list-format .list-img {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 12px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 4px #c9c9c9;
}
.list-format .list-img .img-container {
    width: 132px;
    height: 86px;
    position: relative;
}
.img-container i {
    display: none;
}
.img-container:hover .overlay {
    background-color: #0f0f0f93;
    width: 100%;
    height: 100%;
    z-index: 4;
    position: absolute;
    border-radius: 5px;
}
.img-container:hover i {
    display: block;
    z-index: 5;
    font-size: 1rem;
    color: #f7f7f7;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.list-format .list-img .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.list-format .list-img .list-text {
    width: 200px;
}
.list-format .list-img .list-text a {
    color: #0f0f0f;
    font-size: .8rem;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.cards .card {
    flex-basis: 30%;
    margin-bottom: 32px;
    box-shadow: 0 6px 13px #c3c3c3;
    border-radius: 12px;
}
.cards .card .img-container {
    width: 100%;
    height: 280px;
    position: relative;
}
.cards .card .img-container .overlay{
    border-radius: 12px;
}
.cards .card img {
    width: 100%;
    height: 100%;
    border-radius: 12px 12px 0 0;
    object-fit: cover;
}
.cards .card .img-options {
    display: flex;
    justify-content: space-between;
    padding: 18px 6px 6px 6px;
}
.cards .card .img-options .card-title {
    font-weight: 300;
    flex-basis: 80%;
}
.cards .card .img-options .actions {
    flex-basis: 20%;
    display: flex;
    justify-content: end;
    gap: 6px;
}
.cards .card .img-options .actions a {
    text-decoration: none;
    color: rgb(15, 15, 15);
}
.options {
    display: flex;
    gap: 20px;
}
.options .display-options {
    background-color: rgb(231, 231, 231);
    padding: 6px 18px;
    border-radius: 20px;
    display: flex;
    gap: 18px;
}
.options .format {
    border: none;
    background: none;
    color: rgb(15, 15, 15);
    font-size: 1.2rem;
    cursor: pointer;
}
.options .search input {
    border: #e7e7e7 2px solid;
    padding: 10px 20px;
    border-radius: 20px;
    width: 340px;
}
/* Modal styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #0f0f0fb6;
}

.modal-content {
    position: relative;
    background-color: #fff;
    padding: 20px;
    max-width: 600px;
    top: 30%;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
